@model IEnumerable<RestaurantReviewLibrary.Models.LibReview>

@{
    ViewBag.Title = "PrintReviews";
}

<h2>Reviews</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditReview", new { id=item.ID }) |
            @Html.ActionLink("Details", "DisplayReview", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteReview", new { id=item.ID })
        </td>
    </tr>
}

</table>
